:root {
    --color-white: #FFFFFF;
    --color-darkpurple: #A5356D;
    --color-orange: #F09E1C;
    --color-grey: #54595F;
    --color-black: #000;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%; /*     Es para que 1rem sea = a 10px      */
}
*, *:before, *:after{
    box-sizing: inherit;
}

*{ 
    margin: 0%;
    padding: 0%;
}
body{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}


/*ALTURA Y ANCHO DE LAS SECCIONES*/


.contenedor{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.box__size{
    padding: 2rem;
    margin: 5rem 0 5rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    gap: 3rem; 
}

/*   GLOBALES   */

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    padding: 1rem;
}
a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-white);
}
img {
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    
}
h1 {
    font-size: 4rem;
}
h2{

    font-size: 3.2rem;
}
h3 {

    font-size: 2.4rem;
}
.boton {
    font-size:x-large;
    padding: 1rem 6rem;
    border: none;
    cursor: pointer;
    background-color: var(--color-darkpurple);
    color: var(--color-white);
    border-radius: 1rem;
    transition: background-color 0.3s;
    width: 100%;
}
.boton:hover{
    background-color: var(--color-orange);
}
.tarjeta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 1.5rem;
    border: solid .1rem rgba(0, 0, 0, 0.493);
    text-align: justify;
}
@media (min-width: 768px) {
    .tarjeta{
        transition: box-shadow .1s;
        box-shadow: none;
    }
    .tarjeta:hover{
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}


/*AQUI VA TODO LO DEL HEADER*/



.header{
    position: block;
    display:flex;
    flex-direction: column;
    background-color: var(--color-darkpurple);
    width: 100%;
    padding-top: .5rem;
    text-align: center;
}
@media (min-width: 801px) {
    .header{
        padding: .5rem;
    }
}
@media (min-width: 1050px) {
    .header{
        flex-direction: row;
    }
}
.header__logo{

    height: 7rem;  
}

.header__nav, .nav{
    display:flex;
    flex-direction: column;
    
}
@media (min-width: 800px) {
    .header__nav, .nav{
        flex-direction: row;
    }
}

.nav__link, .footer__nav__link{

    color:var(--color-white);
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0; 
    margin: 1rem;
    font-weight: 500;
}

@media (min-width: 800px) {
    .nav__link {
        margin: 0 3rem;
    }
}

.footer__nav__link:hover, .nav__link:hover{
    color:var(--color-orange);
}

/*                           PAGINA PRINCIPAL                               */
/*TERMINA EL HEADER Y EMPIEZA LA PORTADA*/

.portada__contenedor{
    padding: 2rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url("/portadaalfombra1.jpg");
    background-position:bottom;
    background-size: cover;
    min-height: 35rem; 
    
}
@media (min-width: 850px) {
    .portada__contenedor{
        min-height: 58rem;  
        background-position:bottom;
        background-attachment: fixed;
    }
}
.portada__titulo{
    font-weight: 700;
    color:var(--color-white);
}

.portada__boton {
    width: 100%;
} 
@media (min-width: 768px) {
    .portada__boton{
        width: 60%;
    }
}


/*MÁS VENDIDOS*/
.destacados__contenedor{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 5rem 0 5rem 0;
    gap: 3rem;
}
.destacados__h2{
    color: var(--color-black);
}
.destacados__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 35rem), 1fr));
    gap: 2rem; 
}
.destacado__bloque{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 1.5rem;
    border: solid .1rem grey;
}


.destacados__bloque__img{
    height: 30rem;
    border-radius: 1.3rem 1.3rem 0 0;  
}

.destacado__bloque__p{
    text-align: justify;
}
.destacados__boton{
    width: 100%;
    margin-top: 2rem;
}



/*SERVICIOS Y PRODUCTOS*/


.servicios__contenedor{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-image: linear-gradient(var(--color-orange),var(--color-darkpurple));
    height: auto;
    margin: 5rem 0 5rem 0;
    gap: 3rem;
}

.servicios__h2{
    color: var(--color-white);
}
.servicios__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 35rem), 1fr));
    gap: 2rem;     
}
.servicios__tarjeta{

    justify-content:space-evenly;
    background-color: var(--color-white);
    min-height: 35rem;
    padding: 1rem; /*   Aqui le pongo padding y a las de destacado no por la imagen    */
    border: none;

    
}
.servicios__tarjeta__h3{
    
}
.servicios__tarjeta__img {
    height: 25rem;
    border-radius: 1.5rem;
}
.servicios__tarjeta__p{
  
}
.servicios__boton--final{
    color: var(--color-white);
    background-color: var(--color-orange);
    width: 100%;
    margin-top: 2rem;
    transition: box-shadow .1s;
}
.servicios__boton--final:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

/* QUEREMOS QUE ENCUENTRES LO QUE BUSCAS */

.queremos__contenedor{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
    height: auto;   
    margin: 5rem 0 5rem 0;
}

@media (min-width: 950px) {
    .queremos__contenedor{
        flex-direction: row;
        height: 45rem;
    }
}

/*
@media (min-width: 1050px ) {
    .queremos__contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
    }
    
    .queremos__bloque--1{
    grid-column: 2 / 3 ;
    grid-row: 2 / 3 ;
}
}
*/
.queremos__bloque{
    padding: 1rem;
}
.queremos__svg{
    width: 10rem;
    height: 10rem;
    background-color:var(--color-orange);
    border-radius: 50%;
    padding: 1.5rem;
}
.queremos__h2{
    margin-bottom: 2rem;
    color:black;
}
.queremos__p{
    text-align: justify;
}


/* QUIENES SOMOS*/


.quienes-somos__contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 40rem), 1fr));
    gap: 2rem;     
    background-image: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50)),
    url(/imagenes/Limpieza\ de\ alfombra.jpg);
    background-attachment: fixed;
    background-size: cover; 
    background-position: bottom;
    height: auto; 
    padding: 2rem;
    margin: 5rem 0 5rem 0;
}
@media (min-width: 1000px) {
    .quienes-somos__contenedor{
        min-height: 60rem;
    }
}

.quienes-somos__bloque{
    min-height: 15rem;
    color:var(--color-white);
}
.quienes-somos__h3{
    margin-top: 2rem;
}
.quienes-somos__p {
    padding: 0;
    text-align: center;
}




/*NUESTROS CLIENTES NOS RECOMIENDAN PORQUE*/



.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: var(--color-orange);
    margin: 1.5rem auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
    border-radius: 1.5rem;
    box-shadow: -22px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: var(--color-orange);
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  
/*     MAP     */
.map{
    background-color: green;
    width: 100%;
    min-height: 400px;
    margin: 5rem 0 5rem 0;
    
}
.leaflet-popup-content {
    font-size: medium;
}

/*     Iconos     */
.queremos__contenedor__final{
    
    background-color: #f1f1f1;
}
.queremos__bloque__final{
    
}
.queremos__bloque__final .icon_queremos{
    width: 10rem;
    height: 10rem;
    padding: 1.5rem;
    background-color: var(--color-black);
    border-radius: 50%;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    
}
/*FORMULARIO DE CONTACTO*/


.contacto__contenedor{
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--color-orange),var(--color-darkpurple));
    padding: 2rem;
    height: auto;
    margin: 5rem 0 5rem 0;
}


.contacto__h2{
    margin-bottom: 2rem;
    color:var(--color-white);
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width:100%;
    padding:1.5rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    background: var(--color-white);
    border-radius: 0.80rem;
    margin-bottom:2rem;
    text-align: left;
    font-size: large;
  }
  @media (min-width: 850px) {
    .contacto__formulario{
        width: 50%;
    }
  }
  .contacto__div__h2{
      display: flex;
      width: 100%;
      text-align: center;
  }

  
  .form-control {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    color: var(--color-grey);
    background-color: #fff;
    border: 1px solid var(--color-grey);
    margin: 1rem 0;
  }
  
  .form-control:focus {
    border-color:var(--color-grey);
    outline: 0;
  }
  
  
  .textarea {
    display: block;
    min-height: 150px;
    width: 100%;
    color:var(--color-grey);
    min-height: 20rem;
   
  }

/*PREGUNTAS FRECUENTES*/


.preguntas__contenedor{

    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: auto;
    margin: 5rem 0 5rem 0;
    
}
@media (min-width: 850px) {
    .preguntas__contenedor{
        min-height: 45rem;
    }
}
.preguntas__h2{
    margin-bottom: 2rem;
}
.preguntas__ul{
    
   display: flex;
   flex-direction: column;
   gap: 3rem;
}
.preguntas_li{
    list-style:circle;
}
.preguntas__h3{
    text-align: left;
}
.preguntas__p{
    text-align: justify;
}





/* FOOTER */


.footer_contenedor{
    position:relative;
    min-height:28rem;
    padding:1rem 0 1rem 0;
    background: linear-gradient(var(--color-darkpurple),var(--color-orange));
    display: flex;
    
}
.footer__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    grid-gap: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
 }
@media (min-width: 1000px) {
    .footer__grid{
        display: flex;
        gap: 20rem;
    }
}

/*     Footer  index */
.pie-pagina{
    width: 100%;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0 0 0;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--color-black);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: var(--color-orange);
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

   
/*formulario mail*/



/*   copyright   */

#copyright{
    padding: 3rem 0 0.5rem 0;
    width: 100%;
    background-color: var(--color-darkpurple);
    text-align: center;
    color: var(--color-white);
}
#copyright a{
    color: black;
}

/*
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100;}
    45% {margin-left: -100;}

    50% {margin-left: -200;}
    70% {margin-left: -200;}

    75% {margin-left: -300;}
    100% {margin-left: -300;}
}
*/
.btn-wsp{
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 0;
    border: 0;
    position:fixed;
    width:5.5rem;
    height:5.5rem;
    line-height: 5.2rem;
    bottom:3rem;
    right:3rem;
    background:#0df053;
    color:#FFF;
    border-radius:50%;
    text-align:center;
    font-size:3rem;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    text-decoration: none;
    background: var(--color-white);
    color: #0df053;
}

.about__contenedor{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(acercadeimg.jpg) no-repeat left;
    background-size: 55%;
    background-color: black;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background: white;
    padding: 150px;
    margin-right: 5rem;
    border-radius: 1.5rem;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.inner-container span{
    color: black;
}

.text{
    font-size: 13px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/*       PAGINA DE CONTACTO        */
.contacto__portada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/portada-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 30rem;
    flex-direction: column;
}
.contacto__portada h1 {
    color: var(--color-white);
    margin: 0;
}
.contacto__contenedor-pagina{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient( var(--color-orange), var(--color-darkpurple));
    padding: 5rem 0;
    height: auto;
    
}
.contacto__h2-pagina{
    margin-bottom: 2rem;
    color: var(--color-white);
}
/*footer contacto*/

.footer_contenedor-1{
    display: flex;
    flex-direction: column;
    background: var(--color-darkpurple);
    height: auto;
    padding: 3rem 0 0 0;
}

.footer__h2{
    margin-top: 3rem;
    color: var(--color-white);
    text-align: center;
}

.footer__p {
    padding: 0;
    color: var(--color-white);
}
.info {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;

}
@media (min-width: 850px) {
    .info{
        grid-template-columns: repeat(3, 1fr);
        gap:3rem;
    }
}
.info li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}
@media (min-width: 850px) {
    .info li{
        margin: 0;
    }
}

.info li a{
    color: var(--color-white);
    outline: none;
    text-decoration: none;
}
.info a:hover{
    color: var(--color-orange);
}
.icon{
    width: 5rem;
    height: 5rem;
    background-color:black;
    border-radius: 50%;
    padding: 1rem;
}
/*   Página nosotros   */  

.nosotros__portada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/nosotros-portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 30rem;
    flex-direction: column;
}

.nosotros__portada h1 {
    color: var(--color-white);
    margin: 0;
}
.nosotros__main__contenedor{    
    flex-direction: column;
    margin: 5rem 0;
}
.nosotros__p{
    text-align: justify;
}
@media (min-width: 950px) {
    .nosotros__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .nosotros__p{
        text-align: justify;
        order: 2;
    }
    .nosotros__bg__contenedor-1{
        background-image: url(/nosotros-imagen1.jpg);
        width: 99%;
        height: auto;
        order: 1;
    
    }
    .nosotros__bg__contenedor-2{
        background-image: url(/nosotros-imagen2.jpg);
        width: 99%;
        height: auto;
        grid-row: 1 / 4;
        grid-column: 2 / 4;
    }
    .nosotros__bg__contenedor-3{
        background-image: url(/nosotros-imagen3.jpg);
        width: 99%;
        height: auto;
        order: 1;
    }
}

/*  Pagina de  PREGUNTAS FRECUENTES   */
.preguntas__portada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/preguntasfrecuentes-portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30rem;
    flex-direction: column;
}
.preguntas__contenedor-pag{
    margin: 0;
}
/* Pagina de Servicios */   
.servicios__portada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/servicios-portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30rem;
    flex-direction: column;
}
.servicios__contenedor-pag{
    margin: 0;
    background-image: var(--color-white);
}
.servicios__h2___pag{
    color: var(--color-black);
}
.servicios_portada__titulo{
    color: var(--color-white);
    margin: 0;
}
.servicios__pag__tarjeta{
    color: var(--color-black);
    border: 1px solid black;
}
/*  paginda de tienda    */ 
.tienda__portada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(/portada-tienda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    flex-direction: column;
}
.tienda__titulo{
    color: var(--color-white);
    margin: 0;
}
.destacados__contenedor-pag{
    margin:0 0 5rem 0;
}
.tienda__tarjeta{
    justify-content: space-between;
    border: .1rem solid black;
    border-radius: 0 0 1.5rem 1.5rem ;
}
.tienda__img{
    border-radius: 0;     
}
.tienda__btn__contenedor{
    padding: 0 0 0 0;
}
.tienda__btn{
    border-radius: 0 0 1.4rem 1.4rem ;
    
}


.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 35px;
    display: none !important;
    cursor: pointer;
  }
  
  
  @media screen and (max-width:800px) {
    .menu-toggle-btn{
      display: block !important;
    }
  
    .navigation-menu{
      position: relative;
      width: 100%;
      background: var(--color-darkpurple);
      right: 0;
      display: none;
      padding: 0 0 20px 0;
    }
    .navigation-menu a:hover{
        color: black;
    }
    .navigation-menu a{
      display: block;
      margin: 1rem 0;
    }
  
    .navigation-menu.active{
      display: block;
    }
  }